# Importation des librairies

In [5]:
import pandas as pd

In [77]:
data1 = pd.read_csv("./data/liste-des-musees-de-france-2021.csv",encoding='latin-1', sep = ';')

In [71]:
data1

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
0,4540234591,3 bis f,109,Avenue du Petit Barthélémy,13617.0,Aix-en-Provence,France,fr,43.521207,5.439875,http://www.3bisf.com,contact@3bisf.com,3.344216e+10,NaN,osm:museum;art:art contemporain,NaN,"44116,0076388889",NaN
1,4388745689,A casa di Losari,NaN,T 30,20226.0,Belgodère,France,fr,42.638732,9.007660,NaN,NaN,NaN,NaN,osm:museum,NaN,"43338,9393981481",NaN
2,4426176194,À l'homme volant,35,Grande Rue,72300.0,Sablé-sur-Sarthe,France,fr,47.839656,-0.334043,NaN,NaN,3.324395e+10,NaN,osm:museum;type:centre d'interpretation,NaN,"42644,4636574074",NaN
3,7652598615,Abbadiale - Maison des arts,NaN,Rue du Gabizos,65400.0,Arras-en-Lavedan,France,fr,42.990826,-0.128057,https://www.abbadiale.fr/,NaN,3.363317e+10,NaN,osm:museum,NaN,"44120,0466782407",NaN
4,121580330,Abbaye,NaN,Rue de l'Abbaye,39210.0,Château-Chalon,France,fr,46.753866,5.624296,NaN,NaN,NaN,NaN,osm:museum;art:architecture,NaN,"43102,5491898148",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3779,1348524503,Vivarium du Moulin,NaN,Rue Principale,68610.0,Thann-Guebwiller,France,fr,47.942258,7.149613,NaN,NaN,NaN,NaN,osm:museum,NaN,"40747,8717476852",NaN
3780,577287841,Voyage au Temps des impressionnistes,NaN,Rue de Léry,95430.0,Auvers-sur-Oise,France,fr,49.072057,2.166167,NaN,NaN,NaN,NaN,osm:museum,NaN,"41141,7272222222",NaN
3781,145062184,Wines and Spirits Museum,NaN,Corniche Bonaparte,83150.0,Bandol,France,fr,43.128031,5.749484,NaN,NaN,NaN,NaN,osm:museum,NaN,"42367,7135069444",NaN
3782,82988725,Xanxotea,NaN,La Place,64240.0,Isturits,France,fr,43.364834,-1.203580,http://www.xanxotea.com/,NaN,NaN,NaN,osm:museum,Musée ethnographique Xanxotea pour découvrir l...,"44129,580775463",NaN
3783,277107550,Xylotheque - Kiosque Pedagogique,NaN,Impasse de la Haie Vive,45590.0,Saint-Cyr-en-Val,France,fr,47.825888,1.967795,NaN,NaN,NaN,NaN,osm:museum,NaN,"43331,4758449074",NaN

# Importation des données

In [6]:
data1 = pd.read_csv("./data/liste-des-musees-de-france-2021.csv", sep = ';', encoding='latin-1', error_bad_lines=False)
data2 = pd.read_csv("./data/liste-des-musees-de-nouvelle-caledonie-2021.csv", sep = ';', encoding='latin-1', error_bad_lines=False)
data3 = pd.read_csv("./data/liste-des-musees-de-polynesie-francaise-2021.csv", sep = ';',encoding='latin-1', error_bad_lines=False)
data4 = pd.read_csv("./data/liste-des-musees-de-wallis-et-futuna-2021.csv", encoding='latin-1', sep = ';',error_bad_lines=False)

/Users/mvogo/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 5: expected 2 fields, saw 3\nSkipping line 6: expected 2 fields, saw 3\n'
b'Skipping line 6: expected 3 fields, saw 4\nSkipping line 7: expected 3 fields, saw 4\nSkipping line 9: expected 3 fields, saw 4\n'

# Exploration des données

In [7]:
# Les premières features
data1.head()

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
0,4540234591,3 bis f,109,Avenue du Petit Barthélémy,13617.0,Aix-en-Provence,France,fr,43.521207,5.439875,http://www.3bisf.com,contact@3bisf.com,3.344216e+10,NaN,osm:museum;art:art contemporain,NaN,"44116,0076388889",NaN
1,4388745689,A casa di Losari,NaN,T 30,20226.0,Belgodère,France,fr,42.638732,9.007660,NaN,NaN,NaN,NaN,osm:museum,NaN,"43338,9393981481",NaN
2,4426176194,À l'homme volant,35,Grande Rue,72300.0,Sablé-sur-Sarthe,France,fr,47.839656,-0.334043,NaN,NaN,3.324395e+10,NaN,osm:museum;type:centre d'interpretation,NaN,"42644,4636574074",NaN
3,7652598615,Abbadiale - Maison des arts,NaN,Rue du Gabizos,65400.0,Arras-en-Lavedan,France,fr,42.990826,-0.128057,https://www.abbadiale.fr/,NaN,3.363317e+10,NaN,osm:museum,NaN,"44120,0466782407",NaN
4,121580330,Abbaye,NaN,Rue de l'Abbaye,39210.0,Château-Chalon,France,fr,46.753866,5.624296,NaN,NaN,NaN,NaN,osm:museum;art:architecture,NaN,"43102,5491898148",NaN

In [8]:
# Les 5 dernières features
data1.tail()

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
3779,1348524503,Vivarium du Moulin,NaN,Rue Principale,68610.0,Thann-Guebwiller,France,fr,47.942258,7.149613,NaN,NaN,NaN,NaN,osm:museum,NaN,"40747,8717476852",NaN
3780,577287841,Voyage au Temps des impressionnistes,NaN,Rue de Léry,95430.0,Auvers-sur-Oise,France,fr,49.072057,2.166167,NaN,NaN,NaN,NaN,osm:museum,NaN,"41141,7272222222",NaN
3781,145062184,Wines and Spirits Museum,NaN,Corniche Bonaparte,83150.0,Bandol,France,fr,43.128031,5.749484,NaN,NaN,NaN,NaN,osm:museum,NaN,"42367,7135069444",NaN
3782,82988725,Xanxotea,NaN,La Place,64240.0,Isturits,France,fr,43.364834,-1.203580,http://www.xanxotea.com/,NaN,NaN,NaN,osm:museum,Musée ethnographique Xanxotea pour découvrir l...,"44129,580775463",NaN
3783,277107550,Xylotheque - Kiosque Pedagogique,NaN,Impasse de la Haie Vive,45590.0,Saint-Cyr-en-Val,France,fr,47.825888,1.967795,NaN,NaN,NaN,NaN,osm:museum,NaN,"43331,4758449074",NaN

In [9]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3784 entries, 0 to 3783
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   osm_id        3784 non-null   int64
 1   name          3784 non-null   object
 2   number        743 non-null    object
 3   street        3771 non-null   object
 4   postal_code   3728 non-null   float64
 5   city          3782 non-null   object
 6   country       3784 non-null   object
 7   country_code  3784 non-null   object
 8   lat           3784 non-null   float64
 9   lon           3784 non-null   float64
 10  website       1636 non-null   object
 11  email         301 non-null    object
 12  phone         1211 non-null   float64
 13  fax           0 non-null      float64
 14  tags          3782 non-null   object
 15  description   226 non-null    object
 16  date_added    3775 non-null   object
 17  wikidata      1147 non-null   object
dtypes: float64(5), int64(1), object(12)
memory usage: 532.2+ KB

In [10]:
data1.describe()

,osm_id,postal_code,lat,lon,phone,fax
count,3.784000e+03,3728.000000,3784.000000,3784.000000,1.211000e+03,0.0
mean,2.193306e+09,48499.273069,46.531075,2.724237,3.637847e+10,NaN
std,2.521168e+09,27982.341434,2.234572,2.897485,9.501361e+10,NaN
min,5.107373e+06,1000.000000,41.498794,-5.129406,8.250029e+08,NaN
25%,1.451896e+08,25582.500000,44.542494,0.570318,3.325117e+10,NaN
50%,8.226927e+08,49730.000000,46.513252,2.563655,3.338552e+10,NaN
75%,3.982632e+09,71570.000000,48.639156,4.984839,3.349082e+10,NaN
max,8.394269e+09,590007.000000,51.053756,9.488302,3.320256e+12,NaN

In [11]:
data1.count()

osm_id          3784
name            3784
number           743
street          3771
postal_code     3728
city            3782
country         3784
country_code    3784
lat             3784
lon             3784
website         1636
email            301
phone           1211
fax                0
tags            3782
description      226
date_added      3775
wikidata        1147
dtype: int64

In [12]:
data1.columns

Index(['osm_id', 'name', 'number', 'street', 'postal_code', 'city', 'country',
       'country_code', 'lat', 'lon', 'website', 'email', 'phone', 'fax',
       'tags', 'description', 'date_added', 'wikidata'],
      dtype='object')

In [15]:
#Combien y-a-t-il de musées en France métropolitaine ?
data1['osm_id'].count()

3784

Je compte le nombre d'identifiant musée par "osm_id" car ils sont uniques pour détéerminer le nombre de musées en France métropolitaine. Il y a donc 3784 musées.

In [28]:
# Dans quelle(s) ville(s) y-a-t-il de plus de musées ?
data1.groupby("city").count().sort_values(by='osm_id', ascending=False)

,osm_id,name,number,street,postal_code,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
city,,,,,,,,,,,,,,,,,
Paris,175,175,70,174,171,175,175,175,175,133,25,97,0,175,5,174,125
Lyon,33,33,5,33,32,33,33,33,33,21,2,15,0,33,2,33,18
Marseille,28,28,9,28,28,28,28,28,28,16,2,11,0,28,3,28,14
Grenoble,22,22,9,22,22,22,22,22,22,12,0,8,0,22,0,22,12
Toulouse,20,20,9,20,20,20,20,20,20,12,2,8,0,19,0,20,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
La Chaise-Dieu,1,1,0,1,1,1,1,1,1,0,0,0,0,1,0,1,0
La Celle,1,1,0,1,1,1,1,1,1,0,0,0,0,1,0,1,0
La Cassagne,1,1,0,1,1,1,1,1,1,0,0,0,0,1,0,1,0
La Cadière-d'Azur,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,1,0
Île-de-Sein,1,1,0,1,1,1,1,1,1,0,0,0,0,1,0,1,1

In [38]:
# Quel est le nombre moyen de musées par ville ?
data1.groupby("city").count().mean()

osm_id          1.647930
name            1.647930
number          0.323747
street          1.642266
postal_code     1.623529
country         1.647930
country_code    1.647930
lat             1.647930
lon             1.647930
website         0.712854
email           0.131155
phone           0.527669
fax             0.000000
tags            1.647059
description     0.098475
date_added      1.644009
wikidata        0.499346
dtype: float64

In [39]:
# Quel est le nombre médian de musées par ville ?
data1.groupby("city").count().median()

osm_id          1.0
name            1.0
number          0.0
street          1.0
postal_code     1.0
country         1.0
country_code    1.0
lat             1.0
lon             1.0
website         0.0
email           0.0
phone           0.0
fax             0.0
tags            1.0
description     0.0
date_added      1.0
wikidata        0.0
dtype: float64

In [ ]:
# Comment sont répartis les musées par type (en pourcentage) ?

In [72]:
# Combien y-a-t-il de musées dont le nom commence par "Château" ?
data1['name'].str.startswith("Château").value_counts()

False    3727
True       57
Name: name, dtype: int64

In [46]:
# Pour combien de musées dispose-t-on de l'adresse du site web ?
data1['website'].count()

1636

In [85]:
# Quel département français possède le plus de musées sur son territoire ?
data1['postal_code']

pandas.core.series.Series

In [ ]:
# Quel département français possède le moins de musées sur son territoire ?
data1['']

In [73]:
# Combien de musées ont "Napoléon" dans leur nom ?
data1['name'].str.contains("Napoléon").value_counts()

False    3780
True        4
Name: name, dtype: int64